@import url("https://fonts.googleapis.com/css?family=Open+Sans|Nosifer");

@-webkit-keyframes boxPulse {
  from {
    border: 2px solid #B3001B;
    -webkit-box-shadow: 0 0 9px #B3001B;
  }
  50% {
    border: 2px solid #F90C00;
    -webkit-box-shadow: 0 0 18px #F90C00;
  }
  to {
    border: 2px solid #B3001B;
    -webkit-box-shadow: 0 0 9px #B3001B;
  }
}
@-webkit-keyframes buttonPulse {
  from {
    background: #B3001B;
    -webkit-box-shadow: 0 0 9px #B3001B;
  }
  50% {
    background: #F90C00;
    -webkit-box-shadow: 0 0 18px #F90C00;
  }
  to {
    background: #B3001B;
    -webkit-box-shadow: 0 0 9px #B3001B;
  }
}


body {
  margin: 0;
}

section.styling {
  padding: 50px 50px 300px 50px;
  filter: invert(0%);
  font-family: 'Open Sans', sans-serif;
  color: #E6ECF0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-image: url('skulls.png');
  background-repeat: repeat;

}

header {
  margin-left: 10%;
  margin-right: auto;
}

h1 {
  margin: 0;
  display: inline-block;
  font-family: 'Nosifer', cursive;
  font-size: 40px;
  color: #e80b00;
  align-content: center;
  text-shadow: 2px 2px 5px #000000;
}

h1:hover {
  -webkit-transform: scale(1.05);
  -webkit-transition: .05s ease-in-out;
	transition: .05s ease-in-out;
}

img {
  height: 30px;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: -10px;
}

img:hover {
  -webkit-filter: drop-shadow(2px 2px 8px #e80b00);
  filter:         drop-shadow(2px 2px 8px #e80b00);
  -webkit-transform: rotate(-2deg) scale(1.5);
  -webkit-transition: .05s ease-in-out;
  transition: .05s ease-in-out;
}

h2 {
  font-family: 'Nosifer', cursive;
  line-height: 0.25em;
  text-shadow: 2px 2px 5px #000000;
  color: #fff;
}

h2:hover {
  -webkit-transform: scale(1.05);
  -webkit-transition: .05s ease-in-out;
	transition: .05s ease-in-out;
}

.evil_form_and_list {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10%;
  margin-right: auto;
}

.evil_form_and_list form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.evil_form_and_list .email_form {
  display: block;
  margin: 0;
}

.evil_form_and_list textarea {
  border: 2px solid #B3001B;
  background: #E6ECF0;
  margin: 2em 0em;
  font-family: 'Open Sans', sans-serif;
}

.evil_form_and_list input {
  border: 2px solid #B3001B;
  background: #E6ECF0;
  margin: 2em 0em;
  font-family: 'Open Sans', sans-serif;
}

.evil_form_and_list input:focus {
  -webkit-animation-name: boxPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  outline: none;
}

.evil_form_and_list textarea:focus {
  -webkit-animation-name: boxPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  outline: none;
}

.evil_form_and_list ul {
  display: block;
  align-items: left;
}

.evil_form_and_list li {
  list-style: none;
}

ul#evil_list {
  padding-left: 10px;
}

.evil_form_and_list a {
  margin-left: -10%;
  text-decoration: none;
  color: #E6ECF0;
}

.full_evil_note {
  display: block;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

button {
  border: 2px solid #B3001B;
  background: #B3001B;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  color: #E6ECF0;
  border: none;
  border-radius: 2px;
}

button:hover {
  -webkit-transform: scale(1.05);
  -webkit-animation-name: buttonPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  outline: none;
}

button:focus {
  outline: none;
  -webkit-transform: scale(1.05);
}
